/* Font helper classes*/
.bold {
  font-family: "Exo", sans-serif;
}

.skinny {
  font-family: "Rubik", sans-serif;
}

.xsTxt {
  font-size: 0.75rem;
}

.smTxt {
  font-size: 1rem;
}

.mdTxt {
  font-size: 1.5rem;
}

.lgTxt {
  font-size: 2.3rem;
}

.caps {
  text-transform: uppercase;
}

.txtSpace {
  letter-spacing: 0.25rem;
}
