/* Font helper classes*/
.bold {
  font-family: "Cubano", sans-serif;
}

.skinny {
  font-family: "Roboto Condensed", sans-serif;
}

.xsTxt {
  font-size: 0.75rem;
}

.smTxt {
  font-size: 1.25rem;
}

.mdTxt {
  font-size: 1.5rem;
}

.lgTxt {
  font-size: 2.3rem;
}

.xlTxt {
  font-size: 3.5rem;
}

.caps {
  text-transform: uppercase;
}

.txtSpace {
  letter-spacing: 0.25rem;
}
.greenFont {
  color: #aac421;
}
