.wingMenu {
  margin-top: 23rem;
}

/* MENU HEADER */
.menuTop > h2 {
  margin: 0 1.5rem;
  padding: 0;
  text-align: center;
  color: #aac421;
}

.pricePoint > h2 {
  margin: 0;
  padding: 0;
}

.wingTypes h3 {
  margin: 0;
  padding: 0;
}

.menuTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricePoint {
  background-color: #aac421;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(1.5deg);
  padding: 0.2rem 5rem;
  letter-spacing: 3px;
  margin-top: 2rem;
}

.pricePoint > h2 {
  margin: 0 0.2rem;
  letter-spacing: 0.5rem;
}

.wingTypes {
  color: #7a381f;
  display: flex;
  margin: 5rem 0 3rem 0;
}

.wingTypes div {
  padding: 0 2rem;
}

.wingTypes div:nth-child(2) {
  border-left: 3px solid #7a381f;
}

.wingTypes div:nth-child(2) > p {
  text-align: left;
  margin: 0.5rem 0;
}

/* FEATURED WINGS */

.featuredWings {
  background-color: #cac8c8;
  margin: 0;
  padding: 5rem 0;
}

.featuredWingsBG {
  background: url(../images/lourub.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 44rem;
  display: flex;
  flex-direction: column;
}

.spanContainer {
  padding-top: 2.5rem;
  padding-left: 2rem;
}

.spanContainer > span {
  background-color: #aac421;
  color: white;
  width: fit-content;
  min-height: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(1deg);
}

.spanContainer > span:nth-child(1) {
  color: #7a381f;
  margin-bottom: 0.33rem;
  margin-left: 0.75rem;
}

/* WING DETAILS + HEATBAR INDICATOR */
.wingDetails {
  display: flex;
  margin: 5rem 0;
}

.heatBarContainer {
  width: 8rem;
  height: 55rem;
  border: 1px solid #7a381f;
  margin: 0 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heatBarContainer > div {
  position: absolute;
  background-color: white;
  color: #7a381f;
  width: fit-content;
  text-align: center;
}

.heatBarContainer > div:nth-child(1) {
  min-width: 5rem;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
}

.heatBarContainer > div:nth-child(3) {
  max-width: 7rem;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%);
  padding: 0 -2rem;
}

.heatBar {
  background-image: linear-gradient(
    to right,
    rgb(158, 3, 3, 0.95) 5%,
    rgb(255, 0, 0, 0.92) 20%,
    rgb(255, 255, 0, 0.88) 135%
  );
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  padding: 0.5rem 12rem;
  transform: rotate(-90deg);
  margin-bottom: 10px;
  /* height: 20rem; */
}
